<!-- <div class = "notify" [hidden]="displayNotification">
    <p>This website uses cookies to provide better user experience</p>
    <div class = "close"><button class="btn"(click)="closeNotification()">X </button></div>
</div> -->
<!-- notification.component.html -->

<!-- notification.component.html -->

<!-- notification.component.html -->

<div class="notify alert alert-warning" [hidden]="hideNotification">
    <p class="mb-0">This website uses cookies to provide a better user experience</p>
    <div class="close">
        <span class="custom-close-btn" (click)="closeNotification()">X</span>
    </div>
</div>

