/* No specific Bootstrap styles for this component */
.header {
    padding: 30px 40px;
    background-color: #fff;
  }
  
  .site-slogan {
    text-align: center;
  }
  
  h2 {
    font-size: 45px;
  }
  