<div class="navbar">
    <div class = "site-name">
        <h2>{{siteName}}</h2>
    </div>
    <div class = "site-menu">
        <a href="#">HOME</a>
        <a href="/about">ABOUT</a>
        <!-- <a href="#">CONTACT</a> -->
        <a href="/hooks">HOOKS</a>
        <a href="/products">PRODUCTS</a>
        <a href="/signup">LOGIN</a>
        <a href="/cart">CART</a>
        <a href="rating">RATING</a>
        <a href="contact">CONTACT</a>
        <a href="counter">OBS</a>


    </div>
</div>
