<div>
  <app-search></app-search>
  <app-filt></app-filt>

</div>
<div class="productList">
    <div class="product-row" *ngFor="let product of foodItems">
      <div class="card" [ngStyle]="{backgroundColor:product.Availability === 'Available' ? '#D5F5E3': '#FADBDB'}">
        <h2>{{product.title | uppercase}}</h2>
        <p>{{product.description}}</p>
        <p>{{product.price}}</p>
        <p>{{product.rating}}</p>
        <p [ngStyle]="{color: product.Availability === 'Available' ? 'Green' : 'Red'}">{{product.Availability}}</p>
       <div class="prd-img"><img [src]="product.image" alt="Not found"  class="sizing"></div> 
        <div class="prd-btn" *ngIf="product.Availability === 'Available'"><button>Buy Now</button></div>
        <!-- <ng-template #notifyme>
          <button class="prd-not" >Notify me</button>
        </ng-template> -->
      </div>
    </div>
  </div>
<!-- <div class = "product1" style="display: none"></div>
<div class = "product2" style="visibility: hidden;"></div>
<div class = "product3" *ngIf="false"></div>  -->
